<!DOCTYPE html>
<html>
<head>
    <title>Team G's WebApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br> <br>
        <h1 class="text-center">Team G's WebApp</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="POST">
            <div class="form-group">
                <label for="incarnation">Choose an incarnation:</label>
                <select class="form-control" id="incarnation" name="option">
                    <option value="incarnation1">Incarnation 1</option>
                    <option value="incarnation2">Incarnation 2</option>
                    <option value="both">Both Incarnation 1 and 2</option>
                </select>
            </div>
            <div class="form-group">
                <label for="length">Enter the radius: </label>
                <input type="text" class="form-control" id="length" name="length">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if length_to_move is not none %}
            <h3>Selected option: {{ option }}.</h3>
            <p>The value of alpha is: {{ alpha }}.</p>
            <p>The length of line segment X1X2 is : {{ length_to_move }}.</p>
            {% if option != 'Incarnation 1 results' %}
                <a href="{{ url_for('download_xml') }}" class="btn btn-success">Download XML file</a>
            {% endif %}
        {% endif %}
        {% if error_msg is not none %}
            <div class="alert alert-danger">{{ error_msg }}</div>
        {% endif %}
        {% if length_input is not none %}
            <script>
                document.getElementById("length").value = "{{ length_input }}";
            </script>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>
